body {
 background-image: linear-gradient(135.8deg, rgb(15, 15, 17) 27.1%, rgb(25, 0, 0) 77.5%);
 padding: 30px;
 backface-visibility: hidden;
 text-align: center;
}


/*-----------------------------------------------------*/
.header {
  height: 95vh;
  background-image: url('../Images/planet(2).png');
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  height: 64px;

  animation-name: moveInLeft;
  animation-duration: 1s;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255,255,255,.2);
}

.btn:active {
  transform: translateY(-1px);
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out 1s;
  animation-fill-mode: backwards;
}

/*-----------------------------------------------------*/
#top-right {
  position: absolute;
  top: 40px;
  left: 40px;
}

#bottom-left {
  position: absolute;
  width: 20%;
  bottom: 40%;
  left: 15%;
}

#paragraph-1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 90px;
  margin: 0 auto;
  color: white;
  width: 80%;

  animation-name: moveInLeft;
  animation-duration: 1s;

}

#paragraph-2 {
  text-align: center;
  color: white;
  font-size: 45px;

  animation-name: moveInRight;
  animation-duration: 1s;
}

#left-line {
  border-left: solid white;
  background-color: white;
  border: none;
  width: 50%;
  height: 5px;
  float: left;

  animation-name: moveInLeft;
  animation-duration: 1s;
}

#right-line {
  border-right: solid white;
  background-color: white;
  border: none;
  width: 50%;
  height: 5px;
  float: right;

  animation-name: moveInRight;
  animation-duration: 1s;
}

/*-----------------------------------------------------*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transition: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transition: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    tranform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
