@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transition: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transition: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    tranform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  background-color: #1c1c1c;
  backface-visibility: hidden;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
  background: transparent; /* make scrollbar transparent */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.githubLink {
  color: blue;
}

p {
  display: block;
}

@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 700px) {
  .navigation-bar {
    justify-content: center;
  }
}
@media (max-width: 1500px) {
  .skills_item {
    height: 80px;
    width: 140px;
  }
}
@media (max-width: 1000px) {
  .skills_item {
    height: 70px;
    width: 130px;
  }
}
@media (max-width: 1300px) {
  #about_contents {
    transition: all 1s ease;
    flex-direction: column;
  }
}
body {
  text-align: center;
}

.section_heading {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  font-family: montserrat, sans-serif;
}

.about_heading:before {
  position: absolute;
  content: "";
  border-bottom: 18px solid #e70000;
  width: 12rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 4.5rem;
  z-index: -1;
}

.info_blurb {
  color: #000;
  font-size: 2rem;
  line-height: 1.8;
}

#paragraph-1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 5vw;
  margin: 0 auto;
  color: #fff;
  width: 80%;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

#paragraph-2 {
  text-align: center;
  margin-top: 0;
  color: #fff;
  font-size: 2vw;
  animation-name: moveInRight;
  animation-duration: 1s;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1vw;
  text-decoration: none;
  padding: 1vw 2.8vw;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
}
.btn-white {
  background-color: #fff;
  color: #000;
}
.btn-white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-animated {
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card_side {
  height: 50rem;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  will-change: transform, filter;
}
.card_side_front {
  background-color: #fff;
}
.card_side_back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.card_side_back-1 .card_picture-1 {
  background-image: linear-gradient(to right bottom, #000, #200900), url("../Images/playerSimulatorBright.JPG");
}
.card_side_back-2 .card_picture-2 {
  background-image: linear-gradient(to right bottom, #000, #03702f), url("../Images/coursePhoto.png");
}
.card_side_back-3 .card_picture-3 {
  background-image: linear-gradient(to right bottom, #000, #03702f), url("../Images/placeHolder.jpg");
}
.card:hover .card_side_front {
  transform: rotateY(-180deg);
}
.card:hover .card_side_back {
  transform: rotateY(0);
}
.card_picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.card_picture-1 {
  background-image: linear-gradient(to right bottom, #000, #200900), url("../Images/playerSimulatorWebsite.JPG");
}
.card_picture-2 {
  background-image: linear-gradient(to right bottom, #000, #03702f), url("../Images/tasksPhoto.png");
}
.card_picture-3 {
  background-image: linear-gradient(to right bottom, #000, #000), url("../Images/placeHolder.jpg");
}
.card_heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 16rem;
  right: 1rem;
  width: 75%;
}
.card_heading-span {
  padding: 0.8rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card_heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(231, 0, 0, 0.65), rgba(32, 9, 0, 0.65));
}
.card_heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(33, 146, 255, 0.65), rgba(56, 229, 77, 0.65));
}
.card_heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.65), rgba(51, 51, 51, 0.65));
}
.card_details {
  padding: 1rem;
  color: #000;
}
.card_details ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 0 0 0 0;
}
.card_details ul li {
  padding: 0 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card_details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.55);
}

.skills_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills_row:not(:last-child) {
  margin-right: 2.5rem;
}

.skills_item {
  position: relative;
  width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 3px;
  border-radius: 10px;
  background-image: linear-gradient(#000, #000), radial-gradient(at top left, #ababab, #e70000);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 1s ease;
}
.skills_item img {
  height: 60px;
  width: auto;
  transition: all 0.2s;
}
.skills_item:not(:last-child) {
  margin-bottom: 2rem;
}

.logo_name {
  font-size: 1.2rem;
  font-family: montserrat, sans-serif;
}

#skills {
  display: flex;
  justify-content: center;
  transition: width 0.3s, height 0.3s;
}

.skills_item:hover {
  box-shadow: 1px 1px 5px 1px rgb(192, 123, 123);
  animation: pulse 3s infinite;
}

@media (max-width: 1500px) {
  .skills_item {
    height: 90px;
    width: 145px;
  }
  .skills_item img {
    height: 55px;
  }
}
@media (max-width: 1300px) {
  .skills_item {
    border-width: 2px;
  }
  .logo-name {
    font-size: 1.4rem;
  }
}
@media (max-width: 1000px) {
  .skills_item {
    height: 80px;
    width: 130px;
  }
  .skills_item img {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .skills_item {
    height: 70px;
    width: 115px;
  }
  .skills_item img {
    height: 45px;
  }
}
@media (max-width: 500px) {
  .skills_item {
    height: 60px;
    width: 100px;
  }
  .skills_item img {
    height: 40px;
  }
}
@media (max-width: 400px) {
  .skills_item {
    height: 50px;
    width: 80px;
  }
  .skills_item img {
    height: 35px;
  }
}
@media (max-width: 350px) {
  .skills_item {
    height: 30px;
    width: 70px;
  }
  .skills_item img {
    height: 20px;
  }
}
#line_container {
  width: auto;
  height: 2.3vw;
}

#left-line {
  border-left: solid #fff;
  background-color: #fff;
  border: none;
  width: 50%;
  margin-right: 50%;
  height: 0.5vw;
  float: left;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

#right-line {
  border-right: solid #fff;
  background-color: #fff;
  border: none;
  width: 50%;
  margin-left: 50%;
  height: 0.5vw;
  float: right;
  animation-name: moveInRight;
  animation-duration: 1s;
}

.particles-wrapper {
  position: relative;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles sit behind the actual content */
}

#about {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about_contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 300px;
}

#portfolio_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 250;
  transition: all 1.1s;
}

#avatar_icon {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
}

#about_text {
  font-size: 1.3rem;
  max-width: 500px;
  height: 45%;
  line-height: 1.8;
  text-align: left;
  margin: 0 30px 30px 30px;
  min-width: 220px;
}

#projects {
  top: 1000px;
  padding: 1rem 0;
  margin-bottom: 300px;
}

@media (max-width: 1500px) {
  #about_text {
    font-size: 1.8rem;
  }
  #about {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  #about {
    width: auto;
  }
}
@media (max-width: 600px) {
  #avatar_icon {
    width: 100px;
  }
}
#education, #education_blurb, #school_info_box, #BSU_Logo, #education_blurb_text_container,
#school_text, #specialization_text, #date_to_date_text, #course_highlight_text_container,
#course_highlight_text, #education_container {
  transition: all 0.5s ease;
}

#education {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#education_blurb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin-bottom: 100px;
}

#school_info_box {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#BSU_Logo {
  height: 150px;
  width: 150px;
  margin-right: 2.5%;
}

#education_blurb_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#school_text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0;
}

#specialization_text {
  font-size: 1rem;
  color: #9d9b9b;
}

#date_to_date_text {
  font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#course_highlight_text_container {
  display: flex;
  width: 1180px;
}

#course_highlight_text {
  font-size: 1.8rem;
  color: white;
}

#education_container {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 8% 0 8%;
  justify-content: space-evenly;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.course_highlight_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1300px;
  height: 150px;
  background-color: #1c1c1c;
  aspect-ratio: 1/1;
  margin: 0 60px 100px 60px;
  position: relative;
  box-shadow: 0px 0px 5px 1px #ccc;
  transition: all 0.3s ease;
}

.course_highlight_box::before,
.course_highlight_box::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), rgb(71, 71, 71), rgb(204, 204, 204), rgb(133, 133, 133), rgb(204, 204, 204), rgb(71, 71, 71));
  border-radius: inherit;
  animation: rotation 10s infinite;
  opacity: 0; /* Set default opacity */
  transition: opacity 0.6s ease; /* Transition only opacity */
}

.course_highlight_box::after {
  opacity: 0;
  filter: blur(1rem);
}

.course_highlight_box:hover::after {
  opacity: 1;
  filter: blur(1rem);
}

.course_highlight_box:hover::before,
.course_highlight_box:hover::after {
  opacity: 1; /* Set opacity on hover */
}

.course_title {
  color: white;
  font-size: 1.8rem;
  margin: 5px 0 10px 10px;
}

.course_description {
  font-size: 1rem;
  text-align: start;
  margin: 0 10px 20px 10px;
}

.course_links {
  font-size: 1rem;
  text-align: start;
  margin: 0 10px 20px 10px;
}

@media (max-width: 1500px) {
  #education {
    width: 1100px;
  }
  #BSU_Logo {
    height: 100px;
    width: 100px;
  }
  #course_highlight_text {
    font-size: 2rem;
  }
  #course_highlight_text_container {
    width: 980px;
  }
  .course_highlight_box {
    width: 980px;
    height: 100px;
    margin: 0 60px 80px 60px;
  }
  #education_blurb {
    width: 980px;
    margin-bottom: 80px;
  }
  #school_text {
    font-size: 1.5rem;
  }
  #specialization_text {
    font-size: 1.4rem;
  }
  #date_to_date_text {
    font-size: 2.5rem;
  }
  .course_title {
    font-size: 1.4rem;
  }
  .course_description {
    font-size: 1.2rem;
  }
  .course_links {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  #education {
    width: auto;
    min-width: 220px;
  }
  #education_blurb {
    width: 82%;
    min-width: 220px;
    flex-wrap: wrap;
  }
  #course_highlight_text_container {
    width: 82%;
    min-width: 220px;
  }
  #education_container {
    width: 82%;
    min-width: 220px;
  }
  .course_highlight_box {
    min-width: 220px;
    height: 100px;
    margin: 0 0 80px 0;
  }
  .course_title {
    font-size: 1.4rem;
  }
  .course_description {
    font-size: 1.2rem;
  }
  .course_links {
    font-size: 1.2rem;
  }
}
#career {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#career_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@property --gradient-size {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
@keyframes radiating {
  0%, 100% {
    --gradient-size: 0%;
    opacity: 0;
  }
  50% {
    --gradient-size: 200%; /* Covering more than 100% ensures that the square will be fully displayed */
    opacity: 1;
  }
}
#career_images {
  display: flex;
  position: relative;
}

#career_images::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%); /* To center the element */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.925) var(--gradient-size), rgba(255, 255, 255, 0.774) var(--gradient-size));
  background-size: 50% 50%; /* Initial size of the gradient (it will grow with the animation) */
  background-position: center;
  z-index: -1; /* Put the gradient behind the images */
  animation: radiating 6s infinite; /* Adjust the timing if needed */
}

#career_images_column {
  display: flex;
  flex-direction: column;
}

#left_career_image {
  width: 220px;
  height: 352px;
  object-fit: cover;
  object-position: 50% 0;
  margin-right: 2px;
}

.right_career_image {
  height: 175px;
  width: 220px;
  object-fit: cover;
  object-position: 50% 0;
}

.right_career_image:first-child {
  margin-bottom: 2px;
}

#career_text {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 600px;
}

@media (max-width: 1500px) {
  #career {
    width: 1100px;
  }
  #career_images {
    display: flex;
    position: relative;
    width: 400px;
    height: 302px;
  }
  #left_career_image {
    width: 200px;
    height: 302px;
  }
  .right_career_image {
    height: 150px;
    width: 200px;
  }
  #career_text {
    font-size: 2rem;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  #career {
    width: auto;
  }
  #career_images {
    display: flex;
    position: relative;
    width: 360px;
    height: 262px;
  }
  #left_career_image {
    width: 180px;
    height: 262px;
  }
  .right_career_image {
    height: 130px;
    width: 180px;
  }
  #career_text {
    font-size: 2rem;
    margin-top: 20px;
    width: 450px;
  }
  #career_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
}
@media (max-width: 550px) {
  #career_images {
    display: flex;
    position: relative;
    width: 80%;
    min-width: 220px;
    height: 262px;
  }
  #left_career_image {
    width: 50%;
    height: 262px;
  }
  .right_career_image {
    width: 100%;
  }
  #career_text {
    font-size: 1.8rem;
    margin-top: 20px;
    min-width: 220px;
    width: 80%;
  }
}
#conatct-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 51, 51, 0);
  color: #ccc;
  padding: 20px;
}

.contact-text {
  color: #fff;
  text-align: left;
  margin-bottom: 2%;
  width: 520px;
  font-size: 1.4rem;
}

.contact {
  width: 500px;
  height: 10%;
  background-color: #444;
  color: #ccc;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}

#Contact-Message {
  width: 500px;
  height: 8vh;
  background-color: #444;
  color: #ccc;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

#Contact-Submit {
  width: 8vw;
  height: 3vh;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#submit-button {
  width: 520px;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#Contact-Submit:hover {
  background-color: #777;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

#footer {
  background-color: #393939;
  color: #fff;
  position: relative;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.up-arrows {
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #e70000;
  top: -5px;
  width: 50px;
  height: 30px;
  transform: rotate(270deg);
  transition: all 0.3s ease;
  cursor: pointer;
}

.up-arrows:hover {
  top: -15px;
  background: #ff1a1a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#GithubBox {
  width: 65px;
  height: 65px;
  margin: 60px 0 -15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-link {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.github-link:hover {
  color: #ccc;
}

.github-image {
  width: 65px;
  height: auto;
  filter: invert(1);
  transition: all 0.3s ease;
}

.github-link:hover .github-image {
  width: 75px;
}

.github-link:hover {
  color: #ccc;
}

.name-year {
  font-size: 1rem;
  color: #fff;
}

.row {
  max-width: 114rem;
  background: transparent;
  text-align: left;
  height: 55rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 60px;
}
.row .col-1-of-2 {
  width: calc((100% - 60px) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 60px) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 60px) / 3) + 60px);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 60px) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 60px) / 4) + 60px);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px);
}

.header {
  height: 95vh;
  position: relative;
  margin: 30px;
  min-width: 220px;
}

#headerText {
  position: absolute;
  height: 100%;
  min-width: 220px;
  left: 50%;
  transform: translateX(-50%);
  color: #9d9b9b;
  font-size: 2vw;
  z-index: 10;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#headerTextName,
#headerTextProfession,
#headerTextProfession {
  color: white;
  font-family: math;
}

#headerTextName {
  font-size: 8rem;
  margin-top: 25vh;
}

#headerTextProfession {
  font-size: 2rem;
}

#headerTextCareer {
  font-size: 1rem;
}

/* Basic styles for the button */
@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4) scaleY(1.5);
    opacity: 0;
  }
}
#headerButton {
  position: relative;
  display: inline-block;
  margin-top: 10%;
}

#viewButtonLink {
  display: inline-block;
  text-decoration: none;
}

#viewButton {
  position: relative;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s;
  height: 100%;
}

#viewButton::before,
#viewButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  transform-origin: center;
  transition: transform 0.2s, opacity 0.2s;
}

#viewButton:hover {
  text-shadow: 1px 1px 2px #427388;
  transform: translateY(-2px);
}

#viewButton:hover::before {
  animation: rippleEffect 0.8s forwards;
}

#viewButton:hover::after {
  animation: rippleEffect 0.8s 0.2s forwards;
}

#viewButton:active {
  transform: translateY(0);
}

.navigation-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.6rem;
  min-width: 220px;
  border-bottom: 1px solid #000;
  background-color: rgba(51, 51, 51, 0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 999;
  margin: 0 30px 30px 30px;
}

.navigation_item {
  text-decoration: none;
  font-family: montserrat, sans-serif;
  transition: all 0.3s;
  margin-right: 10rem;
  font-size: 1.3rem;
  font-weight: 250;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.navigation_item:not(:last-child) {
  margin-right: 2rem;
}
.navigation_item:last-child {
  margin-right: 5rem;
}
.navigation_item:hover {
  color: #e70000;
  transform: translateY(-1px);
}
.navigation_item:active {
  transform: translateY(1px);
}

.navigation_item a.active-section {
  transition: all 0.3s;
  color: #e70000;
}

@media (max-width: 600px) {
  .navigation-bar {
    justify-content: center;
  }
  .navigation {
    width: 100%;
  }
  .navigation_item:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 430px) {
  .navigation-bar {
    justify-content: center;
  }
  .navigation {
    width: 100%;
  }
  .navigation_item {
    font-size: 1rem;
  }
  .navigation_item:not(:last-child) {
    margin-right: 0.5rem;
  }
}
@media (max-width: 350px) {
  .navigation-bar {
    justify-content: center;
  }
  .navigation {
    width: 100%;
  }
  .navigation_item {
    font-size: 0.6rem;
  }
  .navigation_item:not(:last-child) {
    margin-right: 0.3rem;
  }
}
.section_tours {
  padding: 25rem 0;
}

/*# sourceMappingURL=styles.css.map */
