// COLORS
$color-primary: #fff;
$color-primary-red: #e70000;
$color-primary-black: #000;
$color-primary-light-gray: #333333;
$color-primary-gray: #1e1e1e;
$color-primary-dark-gray: #1a1a1a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 60px;
