.header {
  height: 95vh;
  position: relative;
  margin: 30px;
}

#headerText {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #9d9b9b;
  font-size: 2vw;
  z-index: 10;  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headerTextName, 
#headerTextProfession, 
#headerTextProfession {
  color: white;
  font-family: math;
}

#headerTextName {
  font-size: 8rem;
  margin-top: 25vh;
}

#headerTextProfession {
  font-size: 2rem;
}

#headerTextCareer {
  font-size: 1rem;
}

/* Basic styles for the button */
@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4) scaleY(1.5);
    opacity: 0;
  }
}

#headerButton {
  position: relative;
  display: inline-block;
  margin-top: 10%;
}

#viewButtonLink {
  display: inline-block;
  text-decoration: none;
}

#viewButton {
  position: relative;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s;
  height: 100%;
}

#viewButton::before,
#viewButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  transform-origin: center;
  transition: transform 0.2s, opacity 0.2s; 
}

#viewButton:hover {
  text-shadow: 1px 1px 2px #427388; 
  transform: translateY(-2px);
}

#viewButton:hover::before {
  animation: rippleEffect 0.8s forwards; 
}

#viewButton:hover::after {
  animation: rippleEffect 0.8s 0.2s forwards;
}

#viewButton:active {
  transform: translateY(0);
}
