#about {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 30px 30px;
}

#about_contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#projects {
  top: 1000px;
  padding: 1rem 0; }

// Contact
#conatct-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #33333300;
  color: #ccc; 
  padding: 20px;
}

.contact-text {
  color: #fff;
  text-align: left;
  margin-bottom: 2%;
  width: 520px;
  font-size: 1.4rem;
}

.contact {
  width: 500px;
  height: 10%;
  background-color: #444;
  color: #ccc; 
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}

#Contact-Message {
  width: 500px;
  height: 8vh;
  background-color: #444; 
  color: #ccc;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

#Contact-Submit {
  width: 8vw;
  height: 3vh;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#submit-button {
  width: 520px;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#Contact-Submit:hover {
  background-color: #777; 
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

// footer
#footer {
  background-color: #393939;
  color: #fff;
  position: relative;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 10vh;
}

.up-button-wrapper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.up-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  width: 30px;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  background-color: #ccc;
}

.arrow {
  transform: rotate(90deg);
  display: block;
  margin: auto;
}


.github-link {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
.github-link:hover {
  color: #ccc;
}
.name-year {
  font-size: 1rem;
  color: #fff;
}

  
