#about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about_contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#projects {
  top: 1000px;
  padding: 1rem 0; }
