.skills_row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.skills_item {
  position: relative;
  width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 3px;
  border-radius: 10px;
  background-image: linear-gradient($color-primary-black, $color-primary-black), radial-gradient(at top left, $color-primary, $color-primary-red);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 1s ease;

  & img {
      height: 60px;
      width: auto;
      transition: all 0.2s;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.logo_name {
  font-size: 1.2rem;
  font-family: montserrat, sans-serif;
}

#skills {
  display: flex;
  justify-content: center;
  transition: width 0.3s, height 0.3s;
}

@media (max-width: 1500px) {
  .skills_item {
    height: 90px;
    width: 145px;
  }

  .skills_item img {
    height: 55px;
  }
}

@media (max-width: 1300px) {
  .skills_item {
    border-width: 2px;
  }

  .logo-name {
    font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  .skills_item {
    height: 80px;
    width: 130px;
  }

  .skills_item img {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .skills_item {
    height: 70px;
    width: 115px;
  }

  .skills_item img {
    height: 45px;
  }
}
@media (max-width: 500px) {
  .skills_item {
    height: 60px;
    width: 100px;
  }

  .skills_item img {
    height: 40px;
  }
}
@media (max-width: 400px) {
  .skills_item {
    height: 50px;
    width: 80px;
  }

  .skills_item img {
    height: 35px;
  }
}
@media (max-width: 350px) {
  .skills_item {
    height: 30px;
    width: 70px;
  }

  .skills_item img {
    height: 20px;
  }
}