body {
  background-color: #1c1c1c;
  backface-visibility: hidden;
  color: $color-primary;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0!important;
  background: transparent; /* make scrollbar transparent */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.githubLink {
  color: blue;
}

p {
  display: block;
}
