body {
 background-image: linear-gradient(135.8deg, $color-primary-gray 27.1%, $color-primary-dark-gray 77.5%);
 padding: 30px;
 backface-visibility: hidden;
 color: $color-primary;
 overflow-x: hidden;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.githubLink {
  color: blue;
}

p {
  display: block;
}
